

.logo {
    max-width: 100px;
}

header{
    background-color: red;
}

h1{
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    
}
.img {
    max-width: 80px;
}
/* .container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
    
} */
img{
    max-width: 80%;

}