/* final.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #ff0000;
    padding: 0 20px;
    height: 80px;
}

header .logo {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80px;
    height: 100%;
    object-fit: cover;
}

header h1 {
    margin: 0;
    font-size: 2em;
    flex-grow: 1;
    text-align: center;
}

header .filter {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}

header .filter label {
    margin-right: 10px;
}

main {
    padding: 20px;
}

main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

main .container img {
    aspect-ratio: 16/9;
    max-width: 100%;
    height: auto;
    margin: 10px;
}

#meme-details {
    margin-top: 20px;
}

#meme-details .meme {
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#meme-details .meme .meme-header {
    width: 100%;
    border-bottom: 2px solid red;
    text-align: center;
    margin-bottom: 10px;
}

#meme-details h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 10px 0;
}

#meme-details img {
    aspect-ratio: 16/9;

    width: 300px;
    height: auto;
    margin-right: 20px;
    display: block;
}

#meme-details p {
    margin: 0;
    flex: 1;
}
footer {
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer .links {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .links li {
    display: inline;
}

footer .links li a {
    text-decoration: none;
    color: red;
}

footer p {
    margin: 0;
}

@media (max-width: 600px) {
    #meme-details .meme {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        border-bottom: 2px solid red;
        padding-bottom: 10px;
    }

    #meme-details h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    #meme-details img {
        aspect-ratio: 16/9;

        width: 100%;
        height: auto;
        margin: 10px auto; 
    }

    #meme-details p {
        text-align: center;
        margin: 10px 0;
    }
}
