.Dark {
    background-color: #1a1a1a; 
    color: #fff;
}

.Dark body{
    border-color: #fff;
}

.Dark header{ 
    
    border-bottom-color: #fff;
}

.Dark p,
.Dark li{
    color: #ddd;
}
.Dark logo{
    color-scheme: #1a1a1a;
}

h1{
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
h2{
    text-align: center;
    color: #006EB6;
    text-transform: uppercase;
}
header{
    border-bottom: 2px solid black;

}
body{
    max-width: 600px;
    margin: 0 auto;
    padding: 7%;
    border: 2px solid black;

}
p{
    text-align: left;
    border-width: 10cap;
    line-height: 1.5;
}
li{
    line-height: 1.5;
}
.logo{
    padding-top: 20px;
    align-self: center;
    width: 150px;
    height: auto;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
