@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid orange;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: Right;
    border-bottom: 1px solid orange;

}


main.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 20px;
}

#articles-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 2 / span 1;
}

#filter-section {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    grid-column: 3;
    grid-row: 1;

}

.article {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px
}

.left-column {
    border-right: 1px solid #ccc;
    padding-right: 15px;
}

.middle-column {
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;

}
